<{**
 * Admin Modperm Edit form Template
 *
 * Smarty3
 *
 * Copyright 2011-2012, Bmath Web Application Platform Project. (http://bmath.jp)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>
 *
 * @copyright     Copyright 2011-2012, Bmath Web Application Platform Project. (http://bmath.jp)
 * @link          http://bmath.jp Bmath Web Application Platform Project
 * @package       Ao.modules.admin.templates
 * @since
 * @license       GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 *}>

<div class="contentTtl"><h2>編集</h2></div>

<form name="newForm" action="<{$action_name}>" method="post">
<table class="adminTable">
<tr>
    <th>モジュールディレクトリ名</th>
    <td>
        <{$form.dirname}>
        <{if $error.dirname}>
            <{foreach $error.dirname item=msg}>
            <div class="form_error"><{$msg}></div>
            <{/foreach}>
        <{/if}>
    </td>
</tr>
<tr>
    <th>権限レベル</th>
    <td>
        <{$form.permission}>
        <{if $error.permission}>
            <{foreach $error.permission item=msg}>
            <div class="form_error"><{$msg}></div>
            <{/foreach}>
        <{/if}>
    </td>
</tr>
<tr>
    <th>備考</th>
    <td>
        <{$form.note}>
        <{if $error.note}>
            <{foreach $error.note item=msg}>
            <div class="form_error"><{$msg}></div>
            <{/foreach}>
        <{/if}>
    </td>
</tr>
<tr>
    <th>登録日</th>
    <td>
        <{$form.created}>
        <{if $error.created}>
            <{foreach $error.created item=msg}>
            <div class="form_error"><{$msg}></div>
            <{/foreach}>
        <{/if}>
    </td>
</tr>
<tr>
    <th>最終更新日</th>
    <td>
        <{$form.modified}>
        <{if $error.modified}>
            <{foreach $error.modified item=msg}>
            <div class="form_error"><{$msg}></div>
            <{/foreach}>
        <{/if}>
    </td>
</tr>
<tr>
    <th>削除フラグ</th>
    <td>
        <{$form.delete_flag}>
        <{if $error.delete_flag}>
            <{foreach $error.delete_flag item=msg}>
            <div class="form_error"><{$msg}></div>
            <{/foreach}>
        <{/if}>
    </td>
</tr>
</table>
<{$form.id}>                                                                                                                                                                           
<{$form.uid}>                                                                                                                                                                           
<input type="submit" name="submit" value="登録" />
</form>
