<{**
 * Admin User List Template
 *
 * Smarty3
 *
 * Copyright 2011-2012, Bmath Web Application Platform Project. (http://bmath.jp)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>
 *
 * @copyright     Copyright 2011-2012, Bmath Web Application Platform Project. (http://bmath.jp)
 * @link          http://bmath.jp Bmath Web Application Platform Project
 * @package       Ao.modules.admin.templates
 * @since
 * @license       GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 *}>
<h2>ユーザ一覧 </h2>

<div style="text-align: right;"><a class="btn btn-default" href="<{$siteconf.root_url}>/<{$sysconf.module}>/user/new/">新規登録</a></div>
<div id="searchBox">
    <form name="searchForm" id="searchForm" action="<{$action_name}>" method="get">
    <input type="text" id="kw" name="kw" value="<{$kw}>" />
    <input type="submit" name="submit" id="submit" class="btn btn-default" value="検索" />
    </form>
</div>

<{if $users}>
<div class="pager"><{$pagenav}></div> 
<table class="table table-striped">
<tr>
    <th class="top">uid</th>
    <th class="top">name</th>
    <th class="top">login</th>
    <th class="rtop">操作</th>
</tr>
<{foreach from=$users item=item}>
<tr class="<{cycle values="odd,even"}>">
    <td><{$item->get("uid")}></td>
    <td><{$item->get("name")}></td>
    <td><{$item->get("login")}></td>
    <td class="r">
        <a class="btn btn-default" href="<{$siteconf.root_url}>/<{$sysconf.module}>/user/edit/uid/<{$item->get("uid")}>">編集</a>
        <a class="btn btn-default" href="<{$siteconf.root_url}>/<{$sysconf.module}>/user/delete/uid/<{$item->get("uid")}>">削除</a>
    </td>
</tr>
<{/foreach}>
</table>
<div class="pager"><{$pagenav}></div> 

<{else}>
登録されたユーザはいません
<{/if}>

