<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title><{if isset($page_title)}><{$page_title}> | <{/if}><{$siteconf.default_title}></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Le styles -->
        <link href="<{$layout_url}>/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
        <link href="<{$layout_url}>/css/bootstrap-theme.min.css" media="screen" rel="stylesheet" type="text/css">
        <link href="<{$layout_url}>/css/style.css" media="screen" rel="stylesheet" type="text/css">
        <link href="<{$layout_url}>/img/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
        <!-- Scripts -->
        <!--[if lt IE 9]><script type="text/javascript" src="<{$layout_url}>/js/html5shiv.js"></script><![endif]-->
        <!--[if lt IE 9]><script type="text/javascript" src="<{$layout_url}>/js/respond.min.js"></script><![endif]-->
        <script type="text/javascript" src="<{$layout_url}>/js/jquery.min.js"></script>
        <script type="text/javascript" src="<{$layout_url}>/js/bootstrap.min.js"></script>
        <script type="text/javascript">
        $(function(){
            $("li#<{$sysconf.module}>-<{$sysconf.controller}>").addClass("active");
            $("li#<{$sysconf.module}>-parent").addClass("active");
        });
        </script>
    </head>
    <body>
        <{**** 参照 : http://tkymtk.hatenablog.com/entry/2013/11/26/000235 ****}>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<{$siteconf.root_url}>/"><img src="<{$layout_url}>/img/zf2-logo.png" alt="Zend Framework 2"/>&nbsp; サイト管理</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li id="admin-index"><a href="<{$siteconf.root_url}>/admin/">トップ</a></li>
                        <li id="admin-user"><a href="<{$siteconf.root_url}>/admin/user/">ユーザ</a></li>
                        <li id="admin-role"><a href="<{$siteconf.root_url}>/admin/role/">ロール</a></li>
                        <li id="admin-group"><a href="<{$siteconf.root_url}>/admin/group/">グループ</a></li>
                        <li id="admin-modperm"><a href="<{$siteconf.root_url}>/admin/modperm/">モジュール権限</a></li>


                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <{if $role == "guest"}>
                        <li class=""><a href="<{$siteconf.root_url}>/signup/">Signup</a></li>
                        <li class=""><a href="<{$siteconf.root_url}>/application/index/login">Login</a></li>
                        <{else}>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">その他 <b class="caret"></b></a>
                              <ul class="dropdown-menu">
                                <li class=""><a href="<{$siteconf.root_url}>/">サイト確認</a></li>
                                <li class="divider"></li>
                                <li class=""><a href="<{$siteconf.root_url}>/logon/logout">Logout</a></li>
                              </ul>
                            </li>
                        <{/if}>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container">

            <{$contents}>

            <hr>
            <footer>
                <p><{$siteconf.copyright}></p>
            </footer>
        </div> <!-- /container -->
            </body>
</html>

